<!DOCTYPE html>
<html>

<head>
  <title>
  Hipstafy
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%=title%>
  </h1>
  <h2>How to be hipsta-licious</h2>
  <p>Write a sentence or two, and we'll hipstafy it for you!
  </p>
  <form action="/hipstafy" method="post">
    <textarea type="textarea" name="textbox"> </textarea> 
    <input type="submit">
  </form>
</body>

</html>
