<!DOCTYPE html>
<html>

<head>
  <title>Song that Never Ends</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Song that Never Ends</h1>
  <p>
    <%= message %>
  </p>
  <p>
    <a href= '<%=url%>'>   <%= link%> </a>
    
  </p>
   <img src= '<%=img %>'>
</body>

</html>
